<%= form_with(model: tracked_site, local: true) do |form| %>
  <% if tracked_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracked_site.errors.count, "error") %> prohibited this tracked_site from being saved:</h2>

      <ul>
      <% tracked_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :homepageURL %>
    <%= form.text_field :homepageURL, id: :tracked_site_homepageURL %>
  </div>

  <div class="field">
    <%= form.label :totalPV %>
    <%= form.number_field :totalPV, id: :tracked_site_totalPV %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
